.nav {
  display: flex;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  margin: 0px 0;
  /* background-color: #37436b; */
  background-image: linear-gradient(to right,#1d212e, #1d212e,#1d212e,#1d212e);
  padding: 10px 10px;
  box-shadow: 20px 15px 20px rgba(0, 0, 0, 0.25);
  /* z-index: -1; */
  /* overflow: hidden; */
}

.nav > .menu {
  padding: 5px 15px;
  /* border: 1px solid grey; */
  border-radius: 4px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 19px;
  color: white;
}

.nav > .menu:last-child {
  margin-right: 0;
}

.welcome{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 35px;
  font-family: 'Poppins',sans-serif;
  color: #37436b;
  /* margin-left: 50%; */
  margin-top: 15px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.menu:hover{
  /* color: black; */
  transition: .4s;
  background-color: #576699;
  /* background-image: linear-gradient(to bottom,#1d212e00,#1d212e00,#59658b); */
}

/* .menu{
  background-color: #c9bd57;
} */


/* .menu:after, .menu:before{
content: '';
position: absolute;
bottom: 0px;
width: 0;
height: 0px;
background-color: #c9bd57;
transition: .3s;
}

.menu:after{
right: 50%;
}

.menu:before{
left: 50%;
}

.menu.color:after, .menu.color:before{
width: 50%;
  height: 3px;
} */


