.bgTable{
  /* background-color: #37436b; */
  width: 1100px;
  height: 700px;
  margin: auto;
  position: relative;
}

/* table */
.tbl {
  background-color: white;
  position: absolute;
  top: 150px;
  left: 50px;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: 4px 5px 27px 4px rgba(124, 123, 119, 0.85);
}



/* button & search*/
.featureAddSearch{
  display: flex;
}

/* .searchbg{
  display: flex;
} */

.searchbg .searhInput{
  margin-top: 40px;
  margin-left: 25px;
  height: 30px;
  z-index: 1;
  font-size: 17px;
  font-family: 'Poppins',sans-serif;
}

/* add */
.featureAddSearch button{
	display: block;
	width: 150px;
	height: 50px;
	border-radius: 50px;
  margin: 20px;
  margin-top: 35px;
	margin-bottom: 0px;
	font-size: 1rem;
  border: none;
  background-color: rgb(53, 50, 50);
	/* background-image: linear-gradient(to right,#2c2340,#55437c,#baacda); */
	cursor: pointer;
	color: #fff;
	font-family: 'Poppins',sans-serif;
	background-size: 200%;
	transition: .5s;
}

.featureAddSearch button:hover{
  /* border: 2px solid #009879; */
  background-color: #37436b;
  /* color: #009879; */
}


#saveButton:hover{
  /* border: 2px solid #009879; */
  background-color: white;
  color: #37436b;
}

#searchButton:hover{
  /* border: 2px solid #009879; */
  background-color: white;
  color: #c53026;
}


.found{
  font-weight: bold;
  color: #009879;
  background-color: rgb(228, 216, 107);
}

.pagination_section {
  position: absolute;
  top: 500px;
  right: 150px;
}
/* pagination styling */

.maxPage{
  right: 250px !important;
}

.shift{
  right: 200px;
}

.pagination_section button:not(.active) {
  color: black;
  padding: 10px 20px;
  text-decoration: none;
  border: 1px solid gray;
}

.pagination_section .prevNext {
  padding: 10px 15px !important;
}
/* pagination hover effect on non-active */

.pagination_section button:hover:not(.active) {
  background-image: linear-gradient(to right,#9b200a,#c41818,#9b200a);
  color: white;
  transition: .5s;
  border: 1px solid gray;
}
/* pagination hover effect on active*/
.pagination_section button:hover {
  cursor: pointer;
}

.pagination_section .dot{
  cursor: auto;
}

.active {
  padding: 10px 20px;
  background-color: green;
  color: white;
  text-decoration: none;
  border: 1px solid green;
}

button:nth-child(1) {
  font-weight: bold;
}

button:last-child {
  font-weight: bold;
}

.entries{
  color: black;
  font-family: 'Poppins',sans-serif;
  margin-left: 50px;
  margin-top: 20px;
}

.entry{
  margin: 0px 10px;
}

.hide{
 color: #37436b !important;
 font-weight: bold;
 padding: 10px 18px;
}



