
  .bgform{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
      /* background: rgba(223, 221, 221, 0.747); */
    border:2px solid rgb(208, 209, 205); 
    border-radius: 5%;
    width: 400px;
    height: 500px;
    padding: 20px;
  
  }
  
  .avatar{
    width: 150px;
  }
  
  .bgform h2{
    font-size: 2.4rem;
    text-transform: uppercase;
    margin: 15px 0;
    color: #37436b;
    font-family: 'Poppins', sans-serif;
  }
  
  .input-div{
    position: relative;
    display: grid;
    width: 100%;
    grid-template-columns: 7% 93%;
    margin-bottom: 40px;
    /* margin: 5px 0;
    padding: 5px 0; */
    background-color: rgba(224, 224, 241, 0.4);
    border-bottom: 2px solid #d9d9d9;
    transition: .4s;
  }
  
  .i{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(116, 109, 109);
    transition: .3s;
    font-size: 20px;
    padding-top: 3px;
    padding-left: 5px;
  }
  
  
  .input-div div{
    position: relative;
    height: 45px;
  }
  
  .input-div div h5{
    position: absolute;
    left: 10px;
    top: -10%;
    transform:translateY(-50%);
    color: rgb(116, 109, 109);
    font-size: 18px;
    transition: .3s;
    font-weight: 500;
    font-family: 'Poppins',sans-serif;
  }

  
  .input{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.1rem;
    font-family: 'Poppins',sans-serif;
    columns: rgb(182, 177, 177);
  }

  .focus div h5{
    top: -20px;
    font-size: 16px;
  }

  .input-div:after, .input-div:before{
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0;
    height: 3px;
    background-color: #37436b;
    transition: .4s;
  }

  .input-div.focus .i{
    color: #37436b;
  }

  .input-div.focus:after, .input-div.focus:before{
    width: 50%;
  }

  .input-div:after{
    right: 50%;
  }
  
  .input-div:before{
    left: 50%;
  } 
  
  

  .button{
    display: block;
    width: 50%;
    height: 50px;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    /* margin-bottom: 20rem; */
      /* border-image: linear-gradient(to right,#b8ad52,#e0d572,#c9bd57); */
    background-image: linear-gradient(to right,#272f4b,#3d508f,#37436b);
    border: none;
      /* background: none; */
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    font-family: 'Poppins',sans-serif;
    background-size: 200%;
    transition: .4s;
    padding: 10px;
    font-size: 20px;
    justify-content: center;
  }
  
  .button:hover{
     background-position: right;
    /* background-position: right; */
  }
  